body {
  font-family: "Raleway", sans-serif;
}
form {
  border: 3px solid #f1f1f1;
  border-radius: 25px;
  width: 90%;
  position: relative;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  transition: width 1s;
  margin-bottom: 100px;
}

label {
  user-select: none;
}

h1 {
  text-align: center;
}


.vertical-center {
  display: flex;
  justify-content: center;
}
button {
  background-color: #00e676;
  border: 0px;
  border-radius: 25px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

button:active {
  background-color: #00e676;
}

button:focus {
  background-color: #00e676;
}

.req {
  font-size: 10px;
  color: #9b0000;
}

.registerButton {
  float: right;
  background-color: #c62828;
}

.container {
  padding: 16px;
}

/* Change styles for small screens */
@media screen and (max-width: 500px) {
  span.psw {
    display: block;
    float: none;
  }
  button {
    width: 100%;
  }
  form {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  form {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  form {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 45%;
  }
}

